.item .sitename,.item .sitename a{
    background-color: #333;
    color: #FFF;
    margin: 0;
    font-weight: bold;
    padding: 3px 5px;
}

.item .title{
    display: block;
    color: #666;
    font-size: 14px;
    line-height: 1.2;
    min-height: 55px;
    margin: 5px 0;
}

.item img{
    width: 100%;
}